body {
  /*background: #0B161D;*/
  background: #252525;
  color: white;
}

*, *::before, *::after  {
  box-sizing: border-box;
}

h3 {
  border-bottom: 1px solid;
}

button, input, select {
  padding: 0.5em;
  margin-bottom: 1em;
}

button {
  width: 100%;
}

select, input[type='text'] {
  width: 100%;
}

.button-link-box {
/*  border: 1px dashed blue;*/

  display: flex;
  flex-wrap: nowrap;
}

.button-link-box a {
  flex: 1;
  margin: 2px;
}

.warning {
  color:  #ff8ca7;
  font-size: 90%;
  text-align: center;
}

.hidden {
  display: none;
}

.connected {
  color: #8cffa7;
}

.disconnected {
  color: #ff8ca7;
}

#connection-state {
  /*border: 1px solid blue;*/
  padding-bottom: 0.5em;
  font-size: 90%;
  text-align: center;
}

#start-giveaway-container {

}

#cancel-giveaway-container {
  position: fixed;
  padding: 0 0.5em;
  left: 0;
  bottom: 0;
  width: 100%;
}

#giveaway-confirm-btn {
  border: 2px solid #a82846;
  background: #85243a;
  color: white;
}

#bits-test-container {

}

#sub-test-container {

}
