body {
  /*background: #0B161D;*/
  background: #252525;
  color: white;
}

*, *::before, *::after  {
  box-sizing: border-box;
}

h3 {
  border-bottom: 1px solid;
}

button, input, select {
  padding: 0.5em;
  margin-bottom: 1em;
}

button {
  width: 100%;
}

select, input[type='text'] {
  width: 100%;
}

.warning {
  color:  red;
  font-size: 90%;
}

#cancel-giveaway-container {
  position: fixed;
  padding: 0 0.5em;
  left: 0;
  bottom: 0;
  width: 100%;
}