@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Montserrat:wght@600&family=Roboto:wght@500&display=swap');

body {
  background-color: #252525;
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

.border {
  outline: 2px dashed dodgerblue;
}

#viewport {
  position: relative;
  overflow: hidden;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#text {
  display: inline-block;
  font-size: 2em;
  color: white;
  background: #181819;
  padding: 0.5em;
}

#countdown-clock {
  position: absolute;
  display:  inline-block;
  /*border: 1px dashed blue;*/

  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: white;

  padding: 0.5em;
  opacity: 0;
}

#gifters-subs {
  position: absolute;
  display:  inline-block;
/*  border: 1px dashed red;*/

  min-width: 5em;

  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;

  padding: 0.5em;
  opacity: 0;
}

#gifters-bits {
  position: absolute;
  display:  inline-block;
  /*border: 1px dashed red;*/

  min-width: 5em;

  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: white;

  padding: 0.5em;
  opacity: 0;
}

#gifters-subs h4 {
  border-bottom: 1px solid white;
  margin: 0.5em;
}

#gifters-bits h4 {
  border-bottom: 1px solid white;
  margin: 0.5em;
}

#gifters-subs .name {
  color: lightgoldenrodyellow;
}

#gifters-subs .score {
  color: dodgerblue;
}

#gifters-bits .name {
  color: dodgerblue;
}

#gifters-bits .score {
  color: lightgoldenrodyellow;
}

.pause {
  color: red !important
}